.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #283838;
}
.card{
    min-width: 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  5rem 8rem;
    border-radius: 2em;
    background-color: teal;
    
}
.heading{
    color: goldenrod;
    font-size: 2rem;
    text-transform: uppercase;
}
.card  div{
    min-width: 100%;
    margin: 1em 0;
}
.inp-tag{
    min-width: 100%;
max-width: 100%;
height: 2.5rem;
padding: 0.5em;
font-size: larger;
border-radius: 1em;
border:none;
outline: none;
}
.btn{
    min-width: 100%;
    max-width: 100%;
    padding: 1em;
    border-radius: 1em;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.2rem;
    margin: 0.5em 0;
    background-color: rgb(21, 201, 21);
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(21, 201, 21, 0.451);
}