/* table{
    width: 50%;
    margin: auto;
    border: 1px solid black;
}
th{
    background-color: rgb(233, 89, 89);
    text-align: center;
}
td{
    background-color: rgb(242, 203, 203);
    text-align: center;
} */


table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    color: #333;
  }

  th, td {
    border: 2px solid #ccc;
    padding: 12px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #e0e0e0;
  }

  /* Additional styles for the table */
  caption {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  /* Apply rounded corners to the first and last cells */
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  /* Add a background gradient for the header */
  th {
    background: linear-gradient(to bottom, #f2f2f2, #d9d9d9);
  }
  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-btn{
    min-width: 300px;
    max-width: 300px;
    padding: 1em;
    border-radius: 1em;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.2rem;
    margin: 0.5em 0;
    background-color: rgb(21, 201, 21);
    cursor: pointer;
  }
  .table-btn:hover{
    background-color: rgba(21, 201, 21, 0.451);
  }